/* Styles for signup panels */
.auth-plain {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.left-solid {
margin-top: 0px;
margin-bottom: 0px;
}

.signup-panel {
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
}

.signup-panel a{
  color: #fff;
}

.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #000;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align  margin-left: 0;
: center;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  text-align: center;
}
.signup-panel .button {
  margin-left: 35%;
}

.newusers {
  background: #fff;
}              

/* style for testimonials */

              
h2 {
  margin-top: 40px;
  font-weight: 200;
  color: #333;
}

.centered-text {
  text-align: center;
}

.quote {
  background: #fff;
  padding: 15px 20px 5px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.quote:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 18px 0 18px;
  border-color: #fff transparent transparent transparent;
  position: relative;
  top: 37px;
  left: 20px;
}

.user {
  margin-left: 25px;
  margin-bottom: 80px;
}
.user .photo {
  background-color: #ccc;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}
.user p {
  position: relative;
  top: 5px;
  text-transform: uppercase;
}
.user p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.user p:nth-child(3) {
  font-size: 14px;
  color: #777;
}

